<div class="col-md-12 border" ng-show="task!=null">
	<form name="taskDetailForm">
		<div class="form-group row form-group-material-blue" ng-class="{'has-error': taskDetailForm.summary.$invalid}">
			<h1 class="col-md-12">
				<label class="control-label" for="taskSummary">Title</label>
				<input type="text"
					required
					name="summary"
					id="taskSummary"
					class="form-control"
					placeholder="Title (required)"
					value="{{task.summary}}"
					ng-model="task.summary">
			</h1>
		</div>
		<br>
		<div class="form-group row form-group-material-blue" ng-class="{'has-error': taskDetailForm.date.$invalid}">
			<label class="control-label col-md-2" for="taskDate">Due Date</label>
			<div class="col-md-10">
				<input type="text"
					required
					name="date"
					id="taskDate"
					class="form-control"
					placeholder="Due Date (required)"
					data-hint="yyyy-mm-dd"
					value="{{ task.start.date }}"
					ng-model="task.start.date">
			</div>
		</div>

		<div class="form-group-material-blue form-group row">
			<label class="control-label col-md-2" for="taskLocation">Location</label>
			<div class="col-md-10">
				<input type="text"
					name="location"
					id="taskLocation"
					class="form-control"
					placeholder="Location (optional)"
					value="{{ task.location }}"
					ng-model="task.location">
				<a class="small"
					href="https://maps.google.com/?q={{task.location}}"
					target="_blank">
					map
				</a>
			</div>
		</div>

		<div class="form-group row form-group-material-blue">
			<label class="control-label col-md-2" for="taskDescription">Description</label>
			<div class="col-md-10">
				<textarea id="taskDescription"
					name="description"
					class="form-control"	
					rows="3"
					placeholder="Description (optional)"
					ng-model="task.description">
					{{ task.description }}
				</textarea>
			</div>
		</div>
	</form>
	<button class="btn btn-material-blue btn-raised"
		ng-show="taskDetailForm.$dirty"
		ng-click="updateTask(task)"
		ng-class="{disabled: taskDetailForm.$invalid}">
		Save Changes
	</button>
	<button class="btn btn-default btn-raised"
		ng-click="undoChanges()"
		ng-show="taskDetailForm.$dirty">
		Undo Changes
	</button>
	<p ng-show="showUpdate">{{ updateMessage }}</p>
	<load-wheel ng-show="isLoading"></load-wheel>

	<!-- <pre>{{origTask | json }}</pre> -->
	<!-- <pre>{{task | json }}</pre> -->
</div>
