body {
  padding-top: 70px; }

.navbar li, .navbar .navbar-brand {
  transition: color ease-in-out .1s; }
.navbar li:hover, .navbar .navbar-brand:hover {
  color: #3C3C3C;
  transition: color ease-in-out .1s; }

.center {
  margin: 0 auto;
  width: 30px; }

a.list-group-item {
  cursor: pointer; }

.list-group .list-group-item.active, .list-group .list-group-item.active:hover {
  background-color: #337ab7;
  transition: background-color ease-in-out .1s; }
.list-group .list-group-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  transition: background-color ease-in-out .1s;
  min-height: 61px; }
  .list-group .list-group-item .checkbox {
    margin-top: 10px;
    padding-right: 0; }
  .list-group .list-group-item .row-action-primary {
    padding-right: 0; }
    .list-group .list-group-item .row-action-primary label {
      height: 40px; }
    .list-group .list-group-item .row-action-primary i {
      background: transparent;
      color: #959595;
      margin-left: -4px;
      margin-right: 4px; }
  .list-group .list-group-item .row-content {
    min-height: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
    .list-group .list-group-item .row-content .task-title {
      min-height: 10px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%); }

#addTaskItem {
  color: #959595;
  font-style: italic; }

.border {
  border: #337ab7 solid 3px; }
