body {
	padding-top: 80px;
}

.navbar {
	li, .navbar-brand {
		transition: color ease-in-out .1s;
	}

	li:hover, .navbar-brand:hover {
		color: #3C3C3C;
		transition: color ease-in-out .1s;
	}
}

.small {
	width: 30px;
}


a.list-group-item {
	cursor: pointer;
}

.list-group {
	margin-top: 15px;

	.list-group-item.active, .list-group-item.active:hover {
		background-color: #2196F3;
		border-right-width: 0;
		width: calc(100% + 30px);
		transition: background-color ease-in-out .1s;
		transition: width ease-in-out .1s;
	}

	.list-group-item {
		border-top: 1px solid rgba(0,0,0,.1);
		border-left: 1px solid rgba(0,0,0,.1);
		border-right: 1px solid rgba(0,0,0,.1);
		position: relative;
		transition: background-color ease-in-out .1s;
		transition: width ease-in-out .1s;
		min-height: 61px;


		.checkbox {
			margin-top: 10px;
			padding-right: 0;
		}

		.row-action-primary {
			padding-right: 0;

			label {
				height: 40px;
			}

			i {
				background: rgba(0,0,0,0);
				color: #959595;
				margin-left: -4px;
				margin-right: 4px;
			}
		}

		.row-content {
			min-height: 10px;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);

			.task-title {
				min-height: 10px;
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
			}
		}
	}
}

#addTaskItem {
	color: #959595;
	border-bottom: 1px solid rgba(0,0,0,.1);
	font-style: italic;
}

.full-window {
	// padding: 0 15px 30px;
	min-height: calc(100vh - 100px);
	height: calc(100vh - 100px);
}

.border {
	// padding: 0 15px 30px;
	border: #2196F3 solid 3px;
	// border-left-width: 5px;
	border-radius: 15px;
	height: 100%;
}

task-details {
	.form-group {
		.control-label {
			font-size: 14px;
			padding-top: 4px;
			color: rgba(0,0,0,.84);
		}
	}

	#taskDescription {
		padding: 3px;
		border-top: 1px solid #CCCCCC;
		border-right: 1px solid #CCCCCC;
		border-left: 1px solid #CCCCCC;
		// border-radius: 4px;
	}
	
	h1 {
		margin-top: 0;


		.form-control-wrapper {
			.form-control, .form-control:focus {
				height: 40px;
				font-size: 30px;
			}
		}
	}
}

.small {
	font-size: 10px;
}

.faded-green {
	color: #4CAF50;
}