body {
	padding-top: 70px;
}

.navbar {
	li, .navbar-brand {
		transition: color ease-in-out .1s;
	}

	li:hover, .navbar-brand:hover {
		color: #3C3C3C;
		transition: color ease-in-out .1s;
	}
}

.center {
	margin: 0 auto;
}